h1 {
  background-color: rgb(244,236,215);
  position: inline-block;
  padding: 2%;
  font-size: 50px;
  color: #3E606F;
  font-family: 'quicksand', cursive;
  text-align: right;}

table{
  border: 3px solid gray;
  margin: auto;
  width: 80%;
  max-width: 960px}

tbody.container {
  position: inline;
  color: white;
  font-size: 14px;
  background-color: #3E606F;
  font-family: 'Poiret One';
  text-align: center;}
}

body{
  text-align: right;
  float: right;
}

section{
  margin: 5px;
  float: left;
  font-family: 'quicksand', cursive;
  text-align: right;}

